<div class="contents row">
  <div class="container">

    <h2>Sign up</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

      <%# 入力情報で誤っていたvalidatableのエラーを出す %>
      <%= devise_error_messages! %>

      <%# 6文字制限のnickname入力欄追加 %>
      <div class="field">
        <%= f.label :nickname %> <em>(6 characters maximum)</em><br />
        <%= f.text_field :nickname, autofocus: true, maxlength: "6" %>
      </div>

      <div class="field">
        <%# @の入力がないとエラーとなるフォーマット %>
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>

        <%# 意味はないが、コピー元のdeviseがそうなっているため、そのまま %>
        <%# @validatableは、deviseのコントローラーで定義 %>
        <%# (コントローラーは変更不要のため、コマンドでコピーしていない) %>
        <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</div>